body{
    background-color: #0f0f0f;
}

p{
    margin : 0;
}

.heading-container{
    text-align: center;
    margin-top: 2rem;
    color: #FEECE9;
}

.main-container{
    text-align: left;
    margin-top : 3rem;
    color : white;
}

.row-item{
    font-size: 1.3rem;
    padding-top : 1.2rem;
}

.rangebar{
    width: 50%;
}

label{
    text-align: left;
}

.col-item{
    text-align: center;
}

.password-field{
    width: 50%;
    border: 1px solid white;
    color : white;
}

.btn{
    margin-left: 1rem;
}

.password-msg{
    color: red;
    font-style : italic;
    font-size : 1rem;
    margin: 0;
    padding-top: 1rem;
}

.password-msg-1{
    color: #CFFFFE;
    font-style : italic;
    font-size : 1rem;
    margin: 0;
    padding-top: 1rem;
}

.password-msg-2{
    color: #F9F7D9;
    font-style : italic;
    font-size : 1rem;
    margin: 0;
    padding-top: 1rem;
}

.password-msg-3{
    color: #FCE2CE;
    font-style : italic;
    font-size : 1rem;
    margin: 0;
    padding-top: 1rem;
}

.password-msg-4{
    color: #FFC1F3;
    font-style : italic;
    font-size : 1rem;
    margin: 0;
    padding-top: 1rem;
}

@media (max-width: 436px){
    .copy-btn{
        margin-top: 1rem;
    }
    .rangebar{
        width: 100%;
    }
}